/*
body{
    width:100%;
    border:1px solid black;
    border-radius:5px;

}
#left{
    width:20%;
		height:400px;
    float:left;
    border: 1px solid black;
    display:block;
}
#content{
    width:78%;
    height:400px;
    float:left;
    border:1px solid black;
    text-align:center;
}
*/

textarea {
border:solid 1px blue;
}




h1 {
    text-align: center;

}
